.DetailHeader {
    padding-top: 11px;
    display: flex;
    justify-content: space-between;
}

#Save {
    background: #ECFFEB;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
}

#Delete {
    background: #FDE4E4;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
}