.ModalContent {
    margin-top: 40px;
    padding-left: 0px;
}

.ModalLine {
    display: grid;
    grid-template-columns: 1fr 6fr;
    text-align: left;
    margin-left: 30px;
    margin-top: 22px;
    line-height: 30px;
    list-style-type: none;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.ModalInput {
    width: 90%;
    background-color: #F4F4F4;
    border: 1px solid #C2C2C2;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0; /*이 부분이 모달의 정의 부분을 화면 전체로 만드는 부분이다. */
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6); /*여기서 뒷부분 흐려지게 만드는 효과를 줌*/


}

.openModalInside {
    width: 40%;
    min-width: 450px;
    height: 30%;
    margin: 0 auto;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show .3s forwards;
    overflow: hidden;
}

.closeModalInside {
    width: 40%;
    min-width: 450px;
    height: 30%;
    margin: 0 auto;
    background-color: #fff;
    animation: modal-disappear .3s;
    animation-fill-mode: forwards;
}

.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show .3s;

}

.modal.closeModal {
    display: flex;
    align-items: center;
    animation: modal-bg-disappear .3s;
    animation-fill-mode: forwards;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-disappear {
    from {
        opacity: 1;
        margin-top: 0;
    }
    to {
        opacity: 0;
        margin-top: -50px;
        visibility: hidden;
    }
}

@keyframes modal-bg-disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.Button {
    margin-top: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;

}

.close {
    border: none;
    margin-right: 20px;
    background-color: #CACACA;

}

.add {
    border: none;
    background-color: #BFF8C5;
}
