.CommentBox {
  height: 500px;
  border: 1px #d3d3d3 solid;
  overflow-y: scroll;
}

.CommentInput {
  line-height: 30px;
  width: 90%;
}

.CommentList {
  height: 100%;
  list-style-type: none;
}

.CommentInputBox {
  margin-top: 10px;
  display: flex;
  height: 40px;
}
.CommentButton {
  width: 10%;
}

.Comment {
  line-height: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}
.NoComment {
  height: 500px;
  border: 1px #d3d3d3 solid;
}
#NoCommentText {
  margin-top: 230px;
}
