.CommentBox {
  height: 500px;
  border: 1px #d3d3d3 solid;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.CommentInput {
  line-height: 30px;
  width: 90%;
}

#CommentList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 16px 24px;
}

.CommentInputBox {
  margin-top: 10px;
  display: flex;
  height: 40px;
}
.CommentButton {
  width: 10%;
}

.Comment {
  line-height: 40px;
  margin-right: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-inline: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease 0s;
}
.Comment:hover {
  background-color: rgb(238, 238, 238);
}

.NoComment {
  height: 500px;
  border: 1px #d3d3d3 solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
