$grey: #c4c4c4;
$pink: #fcd8d8;
$green: #d3ffdd;

@mixin IdButton() {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-left: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
}

.IdButton {
  @include IdButton();
}

.LockedIdButton {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-left: 42px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $grey;
}
.LockedIdButton:hover {
  cursor: default;
  opacity: 1;
}
#Unlock:hover {
  cursor: pointer;
  opacity: 0.5;
}

.Lock {
  @include IdButton();
  background-color: $grey;
}
.Delete {
  @include IdButton();
  background-color: $pink;
}
.Save {
  @include IdButton();
  background-color: $green;
}

.IDButtons {
  display: flex;
  justify-content: flex-end;
}
