button:hover {
  cursor: pointer;
  opacity: 0.5;
}

button {
  width: 100px;
  border: 1px solid black;
  background-color: white;
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
